@import 'basscss-basic';

/* Add-on Modules */
@import 'basscss-addons/modules/btn';
@import 'basscss-addons/modules/btn-primary';
@import 'basscss-addons/modules/background-colors';
@import 'basscss-addons/modules/colors';
@import 'basscss-addons/modules/forms';
@import 'basscss-addons/modules/input-range';
@import 'basscss-addons/modules/responsive-margin';
@import 'basscss-addons/modules/responsive-padding';
@import 'basscss-addons/modules/media-object';
@import 'basscss-addons/modules/all';
@import 'basscss-addons/modules/progress';
@import 'basscss-addons/modules/lighten';
@import 'basscss-addons/modules/background-images';
@import 'basscss-addons/modules/darken';

/* Base Modules */
@import 'basscss-type-scale';
@import 'basscss-typography';
@import 'basscss-layout';
@import 'basscss-align';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-grid';
@import 'basscss-flexbox';
@import 'basscss-position';
@import 'basscss-border';
@import 'basscss-hide';

@font-face {
  font-display: block;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/31FD94_5_0.eot');
  src:
    url('./fonts/31FD94_5_0.eot?#iefix') format('embedded-opentype'),
    url('./fonts/31FD94_5_0.woff2') format('woff2'),
    url('./fonts/31FD94_5_0.woff') format('woff'),
    url('./fonts/31FD94_5_0.ttf') format('truetype');
}

@font-face {
  font-display: block;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/31FD94_2_0.eot');
  src:
    url('./fonts/31FD94_2_0.eot?#iefix') format('embedded-opentype'),
    url('./fonts/31FD94_2_0.woff2') format('woff2'),
    url('./fonts/31FD94_2_0.woff') format('woff'),
    url('./fonts/31FD94_2_0.ttf') format('truetype');
}

body {
  font-family: 'Proxima Nova', 'Times New Roman';
}

.navbar {
  height: 64px;
}

main {
  padding-top: 64px;
}

input,
input:focus,
input:hover,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  outline: none;
  transition: background-color 5000s ease-in-out 0s;
}

a,
a:visited {
  color: initial;
  text-decoration: none;
}
